<!-- <button (click)="Login()">

  Login

</button>


<button (click)="GetDataCenters()">

  DataCenters

</button> -->
<br>
<p-card [style]="{'width' : '400px', 'margin' :'auto'}" *ngIf='!Loggedin'>
  <p-header>
    <h2>Login</h2>
  </p-header>

  <div>
    <form id="form" #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm.value)">
      <span class="p-float-label">
        <input ngModel #username="ngModel" name="username" id="float-input" type="text" pInputText>
        <label for="float-input">Username</label>
      </span>
      <br><br>
      <span class="p-float-label">
        <input ngModel #password="ngModel" name="password" id="float-input" type="password" pInputText>
        <label for="float-input">Password</label>
      </span>
      <br>
      <p-button type="submit" label="Click"></p-button>
    </form>
  </div>
</p-card>

<p-card *ngIf='Loggedin'>
  <H1>You are logged in</H1>
</p-card>
