<p-button (click)="GetDataCenters()">getData</p-button>

<div *ngIf="data != null">
  <p-table [value]="DatacentreError">
    <ng-template pTemplate="header">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>Totaal errors</th>
        <th>Isolation</th>
      </tr>
    </ng-template>
    <!-- DatacentreError -->
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <tr>
        <td>{{data[rowIndex].id}}</td>
        <td>{{data[rowIndex].name}}</td>
        <td>{{item.pagination.total}}</td>
        <td>
          <p-button (click)="SetIsolation(data[rowIndex].id)">Isolation</p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
