<p>errors works!</p>
<button (click)="GetDataCenters()">getData</button>

<div *ngIf="data != null">
  <table style="width:100%">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>provider</th>
      <th>inIsolation</th>
      <th>lat</th>
      <th>lot</th>
    </tr>
    <tr *ngFor='let item of DatacentreError ; let i = index'>
      <td>{{i}}</td>
      <!-- <td>{{data[i].id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.provider}}</td>
    <td>{{item.inIsolation}}</td>
    <td>{{item.location.lat}}</td>
    <td>{{item.location.lng}}</td> -->
    </tr>
  </table>
</div>
